article {
	width: 1000px;
	height:1000px;
	margin: auto;
	background-color: #173042;

}

header {
	width: 100%;
	height: 100px;
	position: absolute;
	background-color: #4a6c2f;
	text-align: center;
}

footer {
	width: 100%;
	height: 100px;
	position:relative;
	background-color: #4a6c2f;
	text-align: center;
	padding-top: 20px;
}

#left {
	width:440px;
	height: 500px;
	position:relative;
	background-color: #236477;
	top: 115px;
	left: 35px;
}
#right {
	max-width:440px;
	max-height: 500px;
	position:relative;
	background-color: #236477;
	text-align:center;
	padding: 20px 20px 20px 20px;
	left: 480px;
	bottom:550px;
}

#bottom {
	width:900px;
	height:250px;
	position:relative;
	background-color: #236477;
	right:500px;
	top:300px;
	text-align: left;
	padding:20px;
}

ul.list li {
display: inline;
padding-right: 20px;
}